[params]
work_dir =
[outfiles]
out_dir = %(work_dir)s/results/
[origin]
00.raw_reads.quality.file=00.raw_reads/01.fastqc/
01.clean_reads.fq=01.clean_reads/
01.clean_reads.stat.xls=01.clean_reads/qc_20160519.stat.tsv
02.taxonomy.alignment.stat.xls=02.taxon/use_rate/stat.tsv
02.taxonomy.profile.file=02.taxon/profile/
02.taxonomy.00.pieplot.svg=02.taxon/00.piechart/*.svg
02.taxonomy.01.barplot.pdf=02.taxon/01.barplot/*.pdf
02.taxonomy.02.flower=02.taxon/02.core/*.svg
02.taxonomy.02.venn=02.taxon/02.core/*.png
02.taxonomy.03.accum_share.png=02.taxon/03.accum_share/*.png
02.taxonomy.03.accum_share.pdf=02.taxon/03.accum_share/*.pdf
02.taxonomy.04.rarecurve.pdf=02.taxon/04.rarecurve/num.stat.rare.pdf
02.taxonomy.04.rarecurve.png=02.taxon/04.rarecurve/num.stat.rare.png
#02.taxonomy.05.top_boxplot=
#|	|	|--top.boxplot.pdf(png)						[优势物种箱线图]
#02.taxonomy.06.ternaryplot
#|	|	|--species.ternary.pdf(png)					[种水平三角图]
#|	|	|--genus.ternary.pdf(png)						[属水平三角图]
#02.taxonomy.07.treeplot
#|	|	|--*.taxonomy.tre.pdf(png)					[各样品物种分类树状图]
#02.taxonomy.08.cluster
#|	|	|--species.cluster.Bray-Curtis.pdf(png)			[种水平聚类树状图]
#|	|	|--genus.cluster.Bray-Curtis.pdf(png)			[属水平聚类树状图]
#02.taxonomy.09.pca
#|	|	|--species.pca.xls							[物种PCA统计表]
#|	|	|--species.pca.pdf(png)						[物种PCA图]
#02.taxonomy.10.cca_rda
#|	|	|--species.cca(rda).xls						[物种CCA/RDA统计表]
#|	|	|--species.cca(rda).pdf(png)					[物种CCA/RDA图]
#02.taxonomy.11.anosim
#|	|	|--speices.anosim.xls						[物种Anosim统计表]
#|	|	|--species.anosim.pdf(png)					[物种组间组内距离箱线图]
#02.taxonomy.12.mrpp
#|	|	|--species.mrpp.xls							[物种MRPP统计表]
#02.taxonomy.13.nmds
#|	|	|--species.nmds.xls							[物种NMDS统计表]
#|	|	|--speices.nmds.pdf(png)						[物种NMDS图]
#02.taxonomy.14.pcoa
#|	|	|--species.pcoa.xls							[物种PCoA统计表]
#|	|	|--species.pcoa.pdf(png)						[物种PCoA图]
#|	|--15.diff_species
#|	|	|--*.diff.xls								[各级别差异物种统计表]
#|	|	|--*.diff.boxplot.pdf(png)					[各级别差异物种箱线图]
#|	|	|--*.diff.heatmap.pdf(png)					[各级别差异物种热图]
#|	|--16.stamp
#|	|	|--species.stamp.xls							[种水平STAMP分析统计表]
#|	|	|--species.satmp.pdf(png)					[种水平STAMP分析图]
#|	|	|--genus.stamp.xls							[属水平STAMP分析统计表]
#|	|	|--genus.stamp.pdf(png)						[属水平STAMP分析图]
#|	|--17.lefse
#|	|	|--species.lefse.xls							[物种LEfSe分析统计表]
#|	|	|--speices.lefse.pdf(png)						[物种LEfSe分析图]
03.assembly.scaffold.fna=03.assembly/best_scaftigs/*.scaffold.fna
03.assembly.scaftigs.fna=03.assembly/best_scaftigs/*.scaftigs.fna
03.assembly.scaftigs.stat.xls=03.assembly/scaftigs.best.stat.tsv
03.assembly.scaftigs.length.pdf=03.assembly/histogram/*
03.assembly.scaftigs.length=03.assembly/histogram/*
04.gene_predict.gff=04.gene_predict/gff/*.gff
04.gene_predict.gene.fna=04.gene_predict/gene/*.gene.fna
04.gene_predict.gene.faa=04.gene_predict/gene/*.gene.faa
04.gene_predict.orf.stat.xls=04.gene_predict/orf.stat.tsv
04.gene_predict=04.gene_predict/histogram/*/
05.gene_catalog.redundant.gene_catalog.fna=05.gene_catalog/redundant.gene_catalog.fna
05.gene_catalog.gene_catalog.clust=05.gene_catalog/gene_catalog.fna.clstr
05.gene_catalog.gene_catalog.fna=05.gene_catalog/gene_catalog.fna
05.gene_catalog.gene_catalog.stat.xls=05.gene_catalog/gene_catalog.stat.tsv
06.gene_profile.gene_catalog.length.pdf=06.gene_profile/gene_catalog.length.pdf
06.gene_profile.gene.profile=06.gene_profile/gene.profile
07.kegg.gene_catalog.kegg.m8=07.kegg/gene_catalog.kegg.m8							[基因集中基因KEGG比对结果]
|	|--gene_catalog.kegg.xls							[基因集中基因KEGG注释结果]
|	|--gene_catalog.kegg.map.gz						[基因集中基因映射KEGG通路图]
|	|--gene_catalog.kegg.pdf(png)					[基因集中基因KEGG分类统计图]
|	|--ko.profile									[KO丰度表]
|	|--00.diff_gene
|	|	|--diff_gene.kegg.xls						[差异基因KEGG注释结果]
|	|	|--diff_gene.kegg.map.gz					[差异基因映射KEGG通路图]
|	|	|--diff_gene.kegg.pdf(png)					[差异基因KEGG分类统计图]
|	|--01.diff_ko
|	|	|--diff.ko.xls								[差异KO统计表]
|	|	|--diff.ko.profile							[差异KO丰度表]
|	|	|--diff.ko.pdf(png)							[差异KO在KEGG分类统计图]
|	|	|--diff.module.xls							[差异Module统计表]
|	|	|--diff.pathway.xls							[差异通路统计表]
|--08.eggnog
|	|--gene_catalog.eggnog.m8						[基因集中基因eggNOG比对结果]
|	|--gene_catalog.eggnog.xls						[基因集中基因eggNOG注释结果]
|	|--gene_catalog.eggnog.pdf(png)					[基因集中基因eggNOG分类统计图]
|--09.cazy
|	|--gene_catalog.cazy.m8							[基因集中基因CAZy比对结果]
|	|--gene_catalog.cazy.xls							[基因集中基因CAZy注释结果]
|	|--gene_catalog.cazy.pdf(png)						[基因集中基因CAZy分类统计图]
|--10.ardb
|	|--gene_catalog.ardb.m8							[基因集中基因ARDB比对结果]
|	|--gene_catalog.ardb.xls							[基因集中基因ARDB注释结果]
|	|--ardb.profile									[耐药基因丰度表]
|	|--ardb.class.pdf(png)							[耐药基因分类统计图]
|	|--ardb.abun.pdf(png)							[耐药基因丰度箱线图]
|	|--ardb.diff.pdf(png)							[耐药基因差异箱线图]
[target]
|--00.raw_reads
|	|--*.1(2).fq.gz									[原始reads]
|	|--*.quality.png								[原始reads质量分布图]
|	|--*.base.png									[原始reads碱基分布图]
|--01.clean_reads
|	|--*.host.fna.gz								[宿主参考序列(人除外)]
|	|--*.1(2, single).fq.gz							[clean reads]
|	|--clean_reads.stat.xls							[clean reads的QC统计表]
|--02.taxonomy
|	|--alignment.stat.xls								[物种比对统计表]
|	|--*.profile									[物种各级别丰度表]
|	|--00.pieplot
|	|	|--*.species.pie.pdf(png)						[种水平单样品饼图]
|	|	|--*.genus.pie.pdf(png)						[属水平单样品饼图]
|	|--01.barplot
|	|	|--species.barplot.pdf(png)					[种水平多样品柱状图]
|	|	|--genus.barplot.pdf(png)					[属水平多样品柱状图]
|	|--02.venn_flower
|	|	|--core.species.pdf(svg, png)					[核心物种图(韦恩图或花瓣图)]
|	|--03.accum_share
|	|	|--species.accum.pdf(png)					[种水平物种累积共享曲线]
|	|	|--genus.accum.pdf(png)						[属水平物种累积共享曲线]
|	|--04.rarecurve
|	|	|--speices.rarecurve.pdf(png)					[物种稀释曲线]
|	|--05.top_boxplot
|	|	|--top.boxplot.pdf(png)						[优势物种箱线图]
|	|--06.ternaryplot
|	|	|--species.ternary.pdf(png)					[种水平三角图]
|	|	|--genus.ternary.pdf(png)						[属水平三角图]
|	|--07.treeplot
|	|	|--*.taxonomy.tre.pdf(png)					[各样品物种分类树状图]
|	|--08.cluster
|	|	|--species.cluster.Bray-Curtis.pdf(png)			[种水平聚类树状图]
|	|	|--genus.cluster.Bray-Curtis.pdf(png)			[属水平聚类树状图]
|	|--09.pca
|	|	|--species.pca.xls							[物种PCA统计表]
|	|	|--species.pca.pdf(png)						[物种PCA图]
|	|--10.cca_rda
|	|	|--species.cca(rda).xls						[物种CCA/RDA统计表]
|	|	|--species.cca(rda).pdf(png)					[物种CCA/RDA图]
|	|--11.anosim
|	|	|--speices.anosim.xls						[物种Anosim统计表]
|	|	|--species.anosim.pdf(png)					[物种组间组内距离箱线图]
|	|--12.mrpp
|	|	|--species.mrpp.xls							[物种MRPP统计表]
|	|--13.nmds
|	|	|--species.nmds.xls							[物种NMDS统计表]
|	|	|--speices.nmds.pdf(png)						[物种NMDS图]
|	|--14.pcoa
|	|	|--species.pcoa.xls							[物种PCoA统计表]
|	|	|--species.pcoa.pdf(png)						[物种PCoA图]
|	|--15.diff_species
|	|	|--*.diff.xls								[各级别差异物种统计表]
|	|	|--*.diff.boxplot.pdf(png)					[各级别差异物种箱线图]
|	|	|--*.diff.heatmap.pdf(png)					[各级别差异物种热图]
|	|--16.stamp
|	|	|--species.stamp.xls							[种水平STAMP分析统计表]
|	|	|--species.satmp.pdf(png)					[种水平STAMP分析图]
|	|	|--genus.stamp.xls							[属水平STAMP分析统计表]
|	|	|--genus.stamp.pdf(png)						[属水平STAMP分析图]
|	|--17.lefse
|	|	|--species.lefse.xls							[物种LEfSe分析统计表]
|	|	|--speices.lefse.pdf(png)						[物种LEfSe分析图]
|--03.assembly
|	|--*.scaffold.fna.gz								[各样品组装结果scaffold]
|	|--*.scaftigs.fna.gz								[各样品组装结果scaftigs]
|	|--scaftigs.stat.xls								[scaftigs的统计表]
|	|--*.scaftigs.length.pdf(png)						[各样品scaftigs的长度直方图]
|--04.gene_predict
|	|--*.orf.gff									[各样品基因预测结果]
|	|--*.orf.cds.fna.gz								[各样品基因核酸序列]
|	|--*.orf.pep.faa.gz								[各样品基因蛋白序列]
|	|--orf.stat.xls									[基因预测结果统计表]
|	|--*.orf.length.pdf(png)							[各样品基因长度直方图]
|--05.gene_catalog
|	|--redundant.gene_catalog.fna						[冗余基因集]
|	|--gene_catalog.clust							[基因集聚类结果]
|	|--gene_catalog.fna								[非冗余基因集]
|	|--gene_catalog.stat.xls							[基因集统计表]
|	|--gene_catalog.length.pdf(png)					[基因集长度直方图]
|--06.gene_profile
|	|--gene.profile									[基因丰度表]
|	|--00.cag
|	|	|--cag.gene.list.xls							[CAG中基因列表]
|	|	|--cag.taxonomy.xls							[CAG物种注释结果]
|	|	|--cag*.gene.profile							[各CAG中的基因丰度表]
|	|	|--cag.profile								[CAG的平均丰度表]
|	|	|--cag.gene.num.pdf(png)					[CAG中基因数目直方图]
|	|	|--cag*.heatmap.pdf(png)					[各CAG丰度热图]
|	|--01.anosim
|	|	|--gene.anosim.xls							[基因Anosim分析统计表]
|	|	|--gene.anosim.pdf(png)						[基因Anosim分析图]
|	|--02.alpha_div
|	|	|--gene.alpha_div.xls						[样品中基因alpha多样性统计表]
|	|	|--gene.alpha_div.boxplot.pdf(png)				[基因alpha多样性箱线图]
|	|	|--gene.num.histogram.pdf(png)				[各样品基因数目直方图]
|	|--03.diff_gene
|	|	|--diff_gene.xls							[差异基因统计表]
|	|	|--p_value.histogram.pdf(png)				[秩和检验p值分布直方图]
|	|--04.stamp
|	|	|--gene.stamp.xls							[基因STAMP分析统计表]
|	|	|--gene.stamp.pdf(png)						[基因STAMP分析图]
|	|--05.mgs
|	|	|--mgs.gene.list.xls							[MGS中基因列表]
|	|	|--mgs.taxonomy.xls						[MGS物种注释结果]
|	|	|--mgs*.gene.profile						[各MGS中的基因丰度表]
|	|	|--mgs.profile								[MGS的平均丰度表]
|	|	|--mgs.stat.xls								[MGS差异检验统计表]
|	|	|--mgs.heatmap.pdf(png)						[MGS丰度热图]
|	|	|--mgs.corr.xls								[MGS之间相关系数统计表]
|	|	|--mgs.corr.pdf(png)						[MGS之间相关性热图]
|--07.kegg
|	|--gene_catalog.kegg.m8							[基因集中基因KEGG比对结果]
|	|--gene_catalog.kegg.xls							[基因集中基因KEGG注释结果]
|	|--gene_catalog.kegg.map.gz						[基因集中基因映射KEGG通路图]
|	|--gene_catalog.kegg.pdf(png)					[基因集中基因KEGG分类统计图]
|	|--ko.profile									[KO丰度表]
|	|--00.diff_gene
|	|	|--diff_gene.kegg.xls						[差异基因KEGG注释结果]
|	|	|--diff_gene.kegg.map.gz					[差异基因映射KEGG通路图]
|	|	|--diff_gene.kegg.pdf(png)					[差异基因KEGG分类统计图]
|	|--01.diff_ko
|	|	|--diff.ko.xls								[差异KO统计表]
|	|	|--diff.ko.profile							[差异KO丰度表]
|	|	|--diff.ko.pdf(png)							[差异KO在KEGG分类统计图]
|	|	|--diff.module.xls							[差异Module统计表]
|	|	|--diff.pathway.xls							[差异通路统计表]
|--08.eggnog
|	|--gene_catalog.eggnog.m8						[基因集中基因eggNOG比对结果]
|	|--gene_catalog.eggnog.xls						[基因集中基因eggNOG注释结果]
|	|--gene_catalog.eggnog.pdf(png)					[基因集中基因eggNOG分类统计图]
|--09.cazy
|	|--gene_catalog.cazy.m8							[基因集中基因CAZy比对结果]
|	|--gene_catalog.cazy.xls							[基因集中基因CAZy注释结果]
|	|--gene_catalog.cazy.pdf(png)						[基因集中基因CAZy分类统计图]
|--10.ardb
|	|--gene_catalog.ardb.m8							[基因集中基因ARDB比对结果]
|	|--gene_catalog.ardb.xls							[基因集中基因ARDB注释结果]
|	|--ardb.profile									[耐药基因丰度表]
|	|--ardb.class.pdf(png)							[耐药基因分类统计图]
|	|--ardb.abun.pdf(png)							[耐药基因丰度箱线图]
|	|--ardb.diff.pdf(png)							[耐药基因差异箱线图]